@charset "UTF-8";

*, ::before, ::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header img {
  width: 240px;
  margin-left: 20px;
}

.header-inner {
  max-width: 1200px;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.menu-trigger {
  display: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: transparent;
}

.menu-trigger,
.menu-trigger span {
	display: inline-block;
	transition: all .4s;
}

.header-nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.header-nav ul li {
  margin-right: 40px;
}

.global-nav ul li a {
  color: #6e6961;
  font-size: 14px;
  text-decoration: none;
  font-family: 'Poiret One', cursive;
}

.global-nav ul li a:hover {
  border-bottom: solid 1px #6e6961;
  padding-bottom: 3px;
}

footer {
  color: #ccc;
  background-color: #494846;
  height: 70px;
  text-align: center;
  line-height: 70px;
}

@media (max-width:767px) {
  .header-inner {
    height: 80px;
  }

  .header img {
    width: 150px;
    margin-left: 10px;
  }

  .menu-trigger {
    width: 36px;
    height: 50px;
    /*positionで画面左上に絶対配置*/
    position: fixed;
    top: 12px;
    right: 20px;
    /*要素の重なり、上のレイヤーと同じ考えかた*/
    z-index: 2;
    /*クリックした際のボタン周りの線を消す*/
    outline: none;
  }

  .menu-trigger span {
    position: absolute;
    left: 50%;
    width: 26px;
    height: 2px;
    background-color: #6e6961;
    /*menu-trigger内のspan全体を中心位置に揃える設定*/
    transform: translate(-50%, -50%);
  }

  .menu-trigger span:nth-of-type(1) {
    top: 16px;
  }

  .menu-trigger span:nth-of-type(2) {
    top: 50%;
  }

  .menu-trigger span:nth-of-type(3) {
    bottom: 14px;
  }

/*.activeが付いているものは
クリックした際した後の表示を設定しています。*/
/* ーーー定形の書き方として覚えるーーー */
  .menu-trigger.active span:nth-of-type(1) {
    top: 49%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  .menu-trigger.active span:nth-of-type(2) {
    opacity: 0; /*透過の指定で消してる*/
  }

  .menu-trigger.active span:nth-of-type(3) {
    bottom: 49%;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  /* ーーー定形の書き方として覚えるーーー */

  .global-nav {
    display: none;/* クリックする前は消えてほしい  */
    width: 100vw;/*画面横幅めいいっぱい広げる*/
    height: 100vh;/*画面縦幅めいいっぱい広げる*/
    background: rgba(255,255,255,.95);
    margin: 0;
    padding: 90px 5% 0;
    position: fixed;
    text-align: center;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;/* 何かしらの要素の背面に設置*/
  }

  .global-nav.active {
    display: block;/* クリックした時に表示*/
    z-index: 1;/* 何かしらの要素の全面に設置*/
  }

  .global-nav ul {
    /* display:flex;を解除して縦並びにしている*/
    display: block;
  }

  .global-nav li,
  .global-nav li:last-child {
    /*画面横にめいいっぱい伸ばしている設定*/
    width: 100%;
    margin-bottom: 20px;
  }

  .global-nav li a {
    font-size: 16px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    background: none;
    padding-top: 12px;
  }
}
